@import 'base/_constants';
@import 'base/_reset';
@import 'base/_typography';

@import 'components/_wrapper';

@import 'layout/_header';
@import 'layout/_content';

@import 'components/_brief';
@import 'components/_stack';

.light {
  background: $primary-background;
}

.shadow {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

body {
  font-family: $font-stack;

  p {
    line-height: 1.5em;
  }

  a {
    color: $secondary-background;
  }
}